@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.text-btn {
  background-color: #9900ff;
}

/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

.test {
  color: #326dee;
}

h1 {
  color: #fcfdff;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
}

a {
  color: #1ac886;
}

button {
  color: #fcfdff;
  border: 0;
  background: #f6c31c;
  border-radius: 20px;
  padding: 0.75rem;
  height: auto;
}
button:hover {
  background-color: #dda2df;
  cursor: pointer;
}

.error {
  color: #d32752;
  border-color: #d32752;
  border-style: solid;
  margin: 0.75rem;
  padding: 0.75rem;
  border-radius: 20px;
  border-width: 1px;
}

.notification {
  color: #1ac886;
  border-color: #1ac886;
  border-style: solid;
  margin: 0.75rem;
  padding: 0.75rem;
  border-radius: 20px;
  border-width: 1px;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  color: #fcfdff;
  scroll-snap-align: start;
}

.one {
  background-color: #d32752;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.two {
  background-color: #f6c31c;
  height: 60vh;
}

.three {
  background-color: #1ac886;
  height: 40vh;
}

.four {
  background-color: #dda2df;
  height: 90vh;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 60vh;
}
.card .cart-title {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-style: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}
